@import "tailwindcss";

:root {
  --primary: #C33F40;
  --secondary: #e5ceb1;
  --ternary: #003049;
  --quaternary: #F77F00;
  --text-color: #75635D;
  
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text-color);
  --font-sans: var(--font-open-sans);
  
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--secondary);
  color: var(--text-color);
  font-family: var(--font-open-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-antonio);
}

.font-antonio {
  font-family: var(--font-antonio);
}

.font-open-sans {
  font-family: var(--font-open-sans);
}

.maxContainer {
  width: 100%;
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
}

.primaryBacgroundColor {
  background-color: var(--primary);
}
.secondaryBacgroundColor {
  background-color: var(--secondary);
}
.ternaryBacgroundColor {
  background-color: var(--ternary);
}
.quaternaryBacgroundColor {
  background-color: var(--quaternary);
}
.primaryTextColor {
  color: var(--primary);
}
.secondaryTextColor {
  color: var(--secondary);
}
.ternaryTextColor {
  color: var(--ternary);
} 
.quaternaryTextColor {
  color: var(--quaternary);
}
.textTextColor {
  color: var(--text-color);
}
.primaryBorderColor {
  border-color: var(--primary);
}
.secondaryBorderColor {
  border-color: var(--secondary);
}
.ternaryBorderColor {
  border-color: var(--ternary);
}
.quaternaryBorderColor {
  border-color: var(--quaternary);
}